@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/size.scss";

.footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: $secondary-color;
  font-size: $small-size;
  width: 100%;
  height: auto;

}

.footer__p{
  color:$third-color;
  text-decoration: none;

}

a:hover{
  color: red;
}


