@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/size.scss";


.intro{
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: $primary-color;

}

  .image{
    height: 140px;
    padding-left: 20px;

  }

  .description{
    color:blue;
    padding-right: 20px;
    padding-left:20px;
  }

