<div id="Introducción" class="intro">
<img  class="image animate__animated animate__bounceInLeft" src="{{intro.img}}" alt="{{intro}}">
<p class="description animate__animated animate__bounceInRight">{{intro.description}}</p>
</div>


