<div id="Artículos" class="articles">
  <ul class="articles__ul">
    <li class="articles__li" *ngFor="let article of articles.article">
      <h1>{{ article.title }}</h1>
      <img class="articles__img" src="{{ article.img.img }}" alt="{{ article.img.name }}">
    </li>
  </ul>

  <div class="articles__video">
    <iframe
        class="img5"
        width="390"
        height="250"
        src="https://www.youtube.com/embed/JqyChARFNO8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <iframe
        class="img5"
        width="380"
        height="250"
        src="https://www.youtube.com/embed/RK9bhpK2Tno"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

</div>
