@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/size.scss";

.articles{
  width: 100%;
  height: auto;
  background-color: $third-color;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles__li{
  list-style: none;
  text-align: center;
  padding-right: 40px;
  font-size: 15px;
}

.articles__ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.articles__img{
  width: 240px;
  height: auto;
  margin-right: 10px;
  padding-right: 70px;
  padding-top: 5px;
  margin-left: 70px;
  padding-bottom: 20px;
}

.articles__video{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 10px;
}



