
<div id="Galería" class="gallery">
<ul class="gallery__ul">

  <li class="gallery__li" *ngFor="let img of gallery.img">
    <h1 class="gallery__name">{{img.name}}</h1>
    <img class="gallery__img" src="{{img.img}}" alt="{{img.name}}">
  </li>
</ul>
</div>

<div class="gallery__img-button">

  <button class="gallery__button" (click)="onButtonClick()">¡Conviérteme en SuperGuerrero!</button>
<img class="gallery__img-guerrero" *ngIf="sayan" src="{{goku}}">

<img class="gallery__img-guerrero" *ngIf="!sayan" src="{{guerrero}}">
</div>









