@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/size.scss";

.gallery{
  width: 100%;
  height: auto;
  background-color: $fifth-color;
  padding-bottom: 20px;
}

.gallery__li{
  list-style: none;
  text-align: center;
  font-size: 8px;
  padding-top:20px
}

.gallery__ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.gallery__img{
  height: 150px;
  margin-right: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

}

.gallery__name{

  padding-right: 30px;
}

.gallery__button{
  cursor: pointer;
  background: blue;
  border-radius: 5px;
  height: 30px;
}

.gallery__img-button{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  background: $fifth-color;
  padding-right: 40%;
  padding-left: 37%;
  padding-bottom: 30px;
}

.gallery__img-guerrero{
  height: 150px;
  align-items: center;
}


