<section class="header">
  <nav class="navbar">
    <div class="navbar__container">
      <img
        class="navbar__logo animate__animated animate__backInDown"
        src="{{ header.icon.img }}"
        alt="{{ header.icon.name }}"
      />

      <div class="navbar__link-box animate__animated animate__backInDown">
        <a class="navbar__link" href="#{{ link }}" *ngFor="let link of header.links">{{ link }}</a>
      </div>
    </div>
  </nav>
</section>
