@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/size.scss";

.navbar{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    &__container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
      height: 80px;
      margin-right: 10px;
    }


    &__link-box{
      font-family: $font-sans-serif;
      font-size: $mainsize;
      width: 320px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;


    }
}

.header{
  background: $secondary-color;
}


.navbar__link{
  text-decoration: none;
  color: $primary-color;
}

a:hover{
  color:$third-color;
}

